<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page in Vue</title>
    <style>
        .pinkBG {
            background-color: lightpink;
        }
        .seagreenBG {
            background-color: lightseagreen;
        }
        .textGreen {
            color: darkgreen;
        }
        .textOrange {
            color:darkorange
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-bind:class="vueClass1">{{message}}</h1>
        <h2 v-bind:class="vueClass2">
            {{'Random number: ' + Math.ceil(Math.random() * 6 )}}
        </h2>
        <p :style="{ fontSize: size + 'px'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p v-if="stockCount > 5">Is in the stock</p>
        <p v-else-if="stockCount = 1">Is but not many!</p>
        <p v-else>Not in the stock</p>
        <div v-if="text.includes('pizza')">
            <img src="https://as1.ftcdn.net/v2/jpg/01/33/61/72/1000_F_133617244_dWdivRXwoLVzowl1kn3iFP9JGcuNd8n6.jpg" alt="pizza pic">
        </div>
        <div v-show="vShow">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <ol>
            <li v-for="food in manyFood">{{food}}</li>
        </ol>
        <button v-on:click="count++">click counter</button><span v-bind:style="{margin: 15 + 'px'}">{{count}}</span>
        <p v-on:click="changeColor" v-bind:class="vueClass3">I change color if You click me</p>
        <input v-on:input="inpCounter++" type="text">
        <p>{{'Input event occurs: ' + inpCounter}}</p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>

  const app = Vue.createApp({
    data() {
      return {
        message: "Hello World!",
        vueClass1: 'pinkBG',
        vueClass2: 'seagreenBG',
        vueClass3: 'textGreen',
        vueclass4: 'textOrange',
        size: 24,
        stockCount : 1,
        text: 'I like pizza and tacos',
        vShow: true,
        manyFood: ['pizza', 'burger', 'taco', 'pad-thai', 'crunchy snake'],
        count: 0,
        inpCounter: 0
      }
    },
    methods: {
        changeColor() {
            if (this.vueClass3 === 'textOrange') {
                this.vueClass3 = 'textGreen'
            } else {
                this.vueClass3 = 'textOrange'
            }
        }
    }
  })

 app.mount('#app')

</script>
</body>
</html>