<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page in Vue</title>
    <style>
        .pinkBG {
            background-color: lightpink;
        }
        .seagreenBG {
            background-color: lightseagreen;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-bind:class="vueClass1">{{message}}</h1>
        <h2 v-bind:class="vueClass2">
            {{'Random number: ' + Math.ceil(Math.random() * 6 )}}
        </h2>
        <p :style="{ fontSize: size + 'px'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p v-if="stockCount > 5">Is in the stock</p>
        <p v-else-if="stockCount = 1">Is but not many!</p>
        <p v-else>Not in the stock</p>
        <div v-if="text.includes('pizza')">
            <img src="https://as1.ftcdn.net/v2/jpg/01/33/61/72/1000_F_133617244_dWdivRXwoLVzowl1kn3iFP9JGcuNd8n6.jpg" alt="pizza pic">
        </div>
        <div v-show="vShow">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>

  const app = Vue.createApp({
    data() {
      return {
        message: "Hello World!",
        vueClass1: 'pinkBG',
        vueClass2: 'seagreenBG',
        size: 24,
        stockCount : 1,
        text: 'I like pizza and tacos',
        vShow: true,
      }
    }
  })

 app.mount('#app')

</script>
</body>
</html>