<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page in Vue</title>
    <style>
        .pinkBG {
            background-color: lightpink;
        }
        .seagreenBG {
            background-color: lightseagreen;
        }
        .textGreen {
            color: darkgreen;
        }
        .textOrange {
            color:darkorange
        }
        .divSize {
            width: 160px;
            height: 80px;
            background-color: rgb(87, 241, 241);
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-bind:class="vueClass1">{{message}}</h1>
        <h2 v-bind:class="vueClass2">
            {{'Random number: ' + Math.ceil(Math.random() * 6 )}}
        </h2>
        <p :style="{ fontSize: size + 'px'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p v-if="stockCount > 5">Is in the stock</p>
        <p v-else-if="stockCount = 1">Is but not many!</p>
        <p v-else>Not in the stock</p>
        <div v-if="text.includes('pizza')">
            <img src="https://as1.ftcdn.net/v2/jpg/01/33/61/72/1000_F_133617244_dWdivRXwoLVzowl1kn3iFP9JGcuNd8n6.jpg" alt="pizza pic">
        </div>
        <div v-show="vShow">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <ol>
            <li v-for="food in manyFood">{{food}}</li>
        </ol>
        <button v-on:click="count++">click counter</button><span v-bind:style="{margin: 15 + 'px'}">{{count}}</span>
        <p v-on:click="changeColor" v-bind:class="vueClass3">I change color if You click me</p>
        <input v-on:input="inpCounter++" type="text">
        <p>{{'Input event occurs: ' + inpCounter}}</p>
        <div :class="vueClass5" v-on:mousemove="mousePos">
            <span>X pos: {{xPos}}</span><br>
            <span>Y pos: {{yPos}}</span>
        </div>
        <textarea v-on:input="writeText" name="" id=""></textarea>
        <p>{{doubleTxt}}</p><br><br>
        <form action="" v-on:submit.prevent="addItem">
            <p>Add item</p>
            <p>Item name: <input type="text" required v-model="itemName"></p>
            <p>How many: <input type="number" v-model="itemNumber"></p>
            <button type="submit">add item</button>
        </form>
        <h3>Shoping list</h3>
        <ul>
            <li v-for="item in shopingList">{{item.name}}, {{item.number}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>

  const app = Vue.createApp({
    data() {
      return {
        message: "Hello World!",
        vueClass1: 'pinkBG',
        vueClass2: 'seagreenBG',
        vueClass3: 'textGreen',
        vueclass4: 'textOrange',
        vueClass5: 'divSize',
        size: 24,
        stockCount : 1,
        text: 'I like pizza and tacos',
        vShow: true,
        manyFood: ['pizza', 'burger', 'taco', 'pad-thai', 'crunchy snake'],
        count: 0,
        inpCounter: 0,
        xPos: 0,
        yPos: 0,
        doubleTxt: '',
        itemName: null,
        itemNumber: null,
        shopingList: [{name: 'tomato', number: 5}]
      }
    },
    methods: {
        changeColor() {
            if (this.vueClass3 === 'textOrange') {
                this.vueClass3 = 'textGreen'
            } else {
                this.vueClass3 = 'textOrange'
            }
        },
        mousePos(e) {
            this.xPos = e.offsetX
            this.yPos = e.offsetY
        },
        writeText(e) {
            this.doubleTxt = e.target.value
        },
        addItem() {
            let item = {
                name: this.itemName,
                number: this.itemNumber
            }
            this.shopingList.push(item);
            this.itemName = null;
            this.itemNumber = null;
        }
    }
  })

 app.mount('#app')

</script>
</body>
</html>